@import "bootstrap/scss/functions";

// // /* =========================
// //    Core brand colors
// //    ========================= */
$primary: #004c4c;
// $secondary: lighten($primary, 20%);
// // $success: #22c55e;
// // $info: #38bdf8;
// // $warning: #facc15;
// // $danger: #ef4444;


// @import "bootstrap/scss/variables";

$primary-light: lighten($primary, 16%) !important;
// $primary-lighter: lighten($primary, 30%) !important; // 30% lighter
// $primary-dark: darken($primary, 10%); // 10% darker

.btn-outline-primary-light {
  background-color: transparent;
  border-color: $primary-light;
  color: $primary-light;

  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    color: var(--bs-body-color) !important;
  }
}


@import "bootstrap/scss/bootstrap";