:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.nav-logout-button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-logout-button:hover,
.nav-logout-button:focus {
  text-decoration: underline;
}


#view-tickets>li>button {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0 !important;
  background-color: #0c2a56;
  padding: 0.75rem 1rem;
  color: #fff;
}

#view-tickets>li>button:not(.active) {
  border-bottom: 1px solid #495057;
}

#view-tickets>li>button.active {
  background-color: #031633;
  border-color: #495057;
  border-bottom: 1px solid transparent;
}

.accordion-button.collapsed {
  background-color: #0f1113;
}

.accordion {
  border-left: 1px solid #495057;
  border-bottom: 1px solid #495057;
  border-right: 1px solid #495057;
}

.ticket-list-item {
  border-left: none;
  border-right: none;
}

.ticket-list-item:hover,
.ticket-list-item:focus-within {
  background-color: #303539;
}

.ticket-list-item-link {
  text-decoration: none !important;
}

@media (max-width: 576px) {
  .accordion {
    border-left: none;
    border-right: none;
  }
}